.main{
    color: white;
    display: inline-block;
    padding: 100px 0px 5px 0px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;;
}
  
.bg{
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../image/hero.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

#headerButton {
    background-color: #BA55D3;
    border: none;
    border-radius: 2px;

}

.image{
    width: 249px;
    height: 30px;
    padding: 10px 50px;
}


