/*-----DESKTOP----*/
.bg{
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    background-image: url('../../image/banner-2.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

#text{
    margin: 150px 0px 0px 50px;;
    width: 400px;
    height: 160px;
}

.header{
    text-transform: uppercase;
    color: #663399;
    font-family: 'Dosis', sans-serif;
}

/*-----MOBILE----*/
.bgMobile{
    width: 100%;
    background-size: cover;
    background-image: url('../../image/bannerMobile-1.jpg');
    position: relative;
}